<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2048</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/global.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/tailwind-config.js"></script>
  </head>
  <body class="bg-tile-16-colour h-screen w-screen">
    <h1
      class="pt-4 text-center font-sans text-8xl font-extrabold text-tile-512-colour"
    >
      2048
    </h1>
    <div class="flex justify-center pt-16">{{ template "grid" .}}</div>
    <div
      hx-get="/arrow-key-event?key=ArrowUp"
      hx-target="#grid"
      hx-trigger="keydown[key=='ArrowUp'] from:body"
      hx-swap="outerHTML"
    ></div>
    <div
      hx-get="/arrow-key-event?key=ArrowRight"
      hx-target="#grid"
      hx-trigger="keydown[key=='ArrowRight'] from:body"
      hx-swap="outerHTML"
    ></div>
    <script src="/static/js/htmx.min.js"></script>
  </body>
</html>
