<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2048</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/tailwind-config.js"></script>
  </head>
  <body class="bg-tile-16-colour h-screen w-screen">
    <h1
      class="pt-4 text-center font-sans text-8xl font-extrabold text-tile-512-colour"
    >
      2048
    </h1>
    <div class="pt-14 flex justify-center items-center">
      <div class="w-[29rem] flex justify-start">
        <button
          hx-post="/new-game-event"
          hx-target="#grid"
          hx-trigger="click"
          hx-swap="outerHTML"
          class="mr-3 w-[7.6rem] h-[2.7rem] border border-black border-2 rounded bg-button-colour py-2 px-4 font-bold text-black hover:bg-button-hover-colour active:bg-button-active-colour"
        >
          New Game
        </button>
      </div>
    </div>
    <div class="flex justify-center pt-4">{{ template "grid" .}}</div>
    <div
      hx-post="/arrow-key-event"
      hx-target="#grid"
      hx-trigger="keydown[key=='ArrowUp'||key=='ArrowRight'||key=='ArrowDown'||key=='ArrowLeft'] from:body"
      hx-swap="outerHTML"
      hx-vals="js:{arrow_key: event.key}"
    ></div>
    <script src="/static/js/htmx.min.js"></script>
  </body>
</html>
